<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta charset="utf-8" />
  <meta name="description" content="">
  <title></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

  <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/static/css/font-awesome.min.css" />
  <link rel="stylesheet" href="/static/css/ace-fonts.css" />
  <link rel="stylesheet" href="/static/css/ace.min.css" />
  <link rel="stylesheet" href="/static/css/layout.css">

  <!--[if lte IE 9]>
    <link rel="stylesheet" href="/static/css/ace-part2.min.css" />
  <![endif]-->

  <!--[if lte IE 9]>
    <link rel="stylesheet" href="/static/css/ace-ie.min.css" />
  <![endif]-->

  <!--[if lte IE 8]>
  <script src="/static/js/html5shiv.js"></script>
  <script src="/static/js/respond.min.js"></script>
  <![endif]-->

  <style type="text/css">
    .page-content {
      padding: 0px 12px 0px 12px;
    }
    .widget-box {
      margin: 0px 0px 2px 0px !important;
    }
    .widget-header {
      padding-left: 0px !important;
    }
    .widget-toolbar {
      padding-left: 0px !important;
    }
    .widget-toolbar button {
      width: 80px;
    }
  </style>

  
  <!--[if !IE]> -->
  <script type="text/javascript">
    window.jQuery || document.write("<script src='/static/js/jquery.min.js'>" + "<" + "/script>");
  </script>

  <!-- <![endif]-->

  <!--[if IE]>
  <script type="text/javascript">
   window.jQuery || document.write("<script src='/static/js/jquery1x.min.js'>"+"<"+"/script>");
  </script>
  <![endif]-->
  <script type="text/javascript">
    if ('ontouchstart' in document.documentElement) document.write("<script src='/static/js/jquery.mobile.custom.min.js'>" + "<" + "/script>");
  </script>

</head>
<body class="no-skin">